html, body {
    background-color: #2B3346;
    font-family: andale mono, monospace;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: white;
    font-size: 3.5vb;
    text-shadow: 2.5px 2.5px 2px black;
}

h2 {
    font-size: 2.5vb;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

.content {
    background-color: rgb(169, 169, 169, 0.4);
    width: 92%;
    height: 90%;
    border-radius: 35px;
    border-color: white;
    border-width: 2px;
    border-style: dashed;
}

nav {
    background-color: rgb(0, 0, 0, 0.6);
    border-radius: 75px;
    text-wrap: nowrap;
    width:fit-content;
    text-align: center;
    position: relative;
    padding-right: 15%;
    margin-top: 5%;
}

.flex-container-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

@media (max-width: 900px) {
    .flex-container-head {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
}

li {
    display: inline-block;
}

ul {
    text-align: center;
    margin-left: -1%;
    display: inline-block;
    text-wrap: nowrap;
}

.description {
    background-color: rgb(255, 255, 255, 0.75);
    width: 90%;
    height: 75%;
    left: 5%;
    margin-top: 5%;
    margin-bottom: 2vb;
    border-radius: 35px;
    position:relative;
    border-color: white;
    border-width: 2px;
    border-style: dashed;
}

@media (max-width: 900px) {
    .description {
        height: 70%;
    }
}

section {
    display: none;
}
section:target {
    display: block;
}

a:hover {
    color: rgb(31, 146, 222);
}

.about-flex-container {
    display: flex;
    flex-direction: column;
}

img {
    border-radius: 40px;
    filter: drop-shadow(3px 3px 8px black);
}

.bio {
    display: flex;
    flex-direction: row;
}

@media (max-width: 900px) {
    .bio {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
}