<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/styles.css">
    <title>Portfolio</title>
</head>
<body>
    <div class="content">
        <div class="header">
            <h1>About Me</h1>
            <h2 class="headspace">About</h2>
            <h2 class="pg2">Resume</h2>
            <h2 class="pg3">Contact</h2>
        </div>
        <div class="description">
            
        </div>
    </div>
</body>
</html>